*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    width: 100%;
}
/* .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: 5rem;
    color: #fff;
    font-size: 1.2rem;
} */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: white;
}
.container1{
    background-color: #e8e5e5;
    display: flex;
}
.container1 img{
    width: 200px;
    height: 300px;
    margin: 2% 6%;
}
.container1 .title{
    padding: 10% 15%;
}
.container2{
    background-color: #d4bebe;
    display: flex;
}
.container2 img{
    width: 200px;
    height: 300px;
    margin: 2% 6%;
}
.container2 .title{
    padding: 10% 15%;
}.container3{
    background-color: #d2b2b2;
    display: flex;
}
.container3 img{
    width: 200px;
    height: 300px;
    margin: 2% 6%;
}
.container3 .title{
    padding: 10% 15%;
}.container4{
    background-color: #ded7d7;
    display: flex;
}
.container4 img{
    width: 200px;
    height: 300px;
    margin: 2% 6%;
}
.container4 .title{
    padding: 10% 15%;
}